.main__nosotros__contacto{
    display: flex;
    justify-content: center;
    .main_article--fondo{
        display: flex;
        height: 480px;
        width: 950px;
        border-radius: 25px;
        border: 2px solid #D3D3D3;
        background-color: white;
        margin: 40px;
        padding: 22px;
        align-items: center;
        .main_article--section{
            padding-right: 25px;
            .main__article--h1{
                font-size: 1.5rem;
            }
        }
        .main__article--multimedia{
            width: 400px;
            height: 219px;
        }
    }
}
